html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #191970; /* Mismo color que el navbar */
  color: white; /* Asegúrate de usar texto visible */
  font-family: Arial, sans-serif; /* Fuente consistente */
}

.App {
  text-align: center;
  background-color: #191970; /* Mismo color que el fondo */
 
}
/*
.App {
  text-align: center;
  background-color: #191970;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
.movie-card img {
  max-width: 100%;
  height: auto;
  display: block; 
}


.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  width: 23%; /* Aproximadamente para que quepan cuatro en una fila */
  margin: 1%; /* Espacio entre tarjetas */
}


.slick-dots li button:before {
  color: white; /* Cambia el color de los puntos no activos */
  font-size: 12px; /* Tamaño del punto */
}

/*PUNTOS ACTIVOS*/
.slick-dots li.slick-active button:before {
  color: #FFD700; /* Cambia el color del punto activo (amarillo dorado en este caso) */
}
