html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #1e3c72, #2a5298, #00008B);
  color: white; /* Asegúrate de usar texto visible */
  font-family: Arial, sans-serif; /* Fuente consistente */
}

.App {
  text-align: center;
  background: linear-gradient(to right, #1e3c72, #2a5298, #00008B);
}

.movie-card img {
  max-width: 100%;
  height: auto;
  display: block; 
}


.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  width: 23%; /* Aproximadamente para que quepan cuatro en una fila */
  margin: 1%; /* Espacio entre tarjetas */
}


.slick-dots li button:before {
  color: white; /* Cambia el color de los puntos no activos */
  font-size: 12px; /* Tamaño del punto */
}

/*PUNTOS ACTIVOS*/
.slick-dots li.slick-active button:before {
  color: #FFD700; /* Cambia el color del punto activo (amarillo dorado en este caso) */
}
